@import url("https://fontlibrary.org//face/opendyslexic");

body {
	margin: 0;
	background: #222;
	font-family: "OpenDyslexic3Regular";
	font-weight: normal;
    font-style: normal;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #ffffff00;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 0.625rem 0%;
}

nav {
  float: right;
  padding: 0.625rem 0%;
}

nav ul {
  margin: 0%;
  padding: 0%;
  list-style: none;

}

nav li {
  display: inline-block;
  margin-left: 4.375rem;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 0.3125rem;
  background-color: #444;

  position: absolute;
  top: 0% auto;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}


.standard-box {
  display: flex;
  flex-wrap: nowrap;
}

.standard-box > div {
  height: 300px;
  background: #ccc;
  margin: 10px;
  margin-top: 55px;
  margin-right: 5px;
  flex: 50%;
}

@media (max-width: 800px) {
.standard-box{
  flex-direction: column;
  }
}


.footer-box {
    display: flex;
    flex-wrap: nowrap;
}

.footer-box > div {
    background: #ffffff00;
    margin-top: 55px;

    flex: 100%;
}

@media (max-width: 800px) {
.footer-box {
    flex-direction: column;
    }
}
.footer-link-text {
    color: #444;
    font-family: "OpenDyslexic3Regular";
	font-weight: normal;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
    font-size: 0.750rem;
}
.footer-title {
    color: #444;
    font-family: "OpenDyslexic3Regular";
	font-weight: normal;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;
    margin-left: 37px;
}
.background-image {
  background-image: url('/assets/images/279618.jpg'); 
  width: 100%; 
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
}
.standard-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}