<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="scripts" href="/assets/scripts.js">
    <title>Bean & Brew</title>
</head>

<body class = "contact-background-image">
    <header>
        <div class="logo">
            <a href="/templates/index.html"> <img alt="Logo of bean and brew"
                src="/assets/images/beanandbrewlogo.png" width="100" height="100"> </a>
        </div>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/templates/index.html">Home</a></li>
                <li><a href="/templates/CoffeeShop.html">Coffee Shop</a></li>
                <li><a href="/templates/BakeryTakeaway.html">Bakery Takeaway</a></li>
                <li><a href="/templates/BakeryLessons.html">Bakery Lessons</a></li>
                <li><a class="active" href="/templates/contacts.html">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <form action="contact.php" method="post">
        <div class="elem-group">
            <label for="name">Your Name</label>
            <input type="text" id="name" name="visitor_name" placeholder="John Doe" pattern=[A-Z\sa-z]{3,20} required>
        </div>
        <div class="elem-group">
            <label for="email">Your E-mail</label>
            <input type="email" id="email" name="visitor_email" placeholder="john.doe@email.com" required>
        </div>
        <div class="elem-group">
            <label for="department-selection">Choose Concerned Department</label>
            <select id="department-selection" name="concerned_department" required>
                <option value="">Select a Department</option>
                <option value="billing">Billing</option>
                <option value="marketing">Marketing</option>
                <option value="technical support">Technical Support</option>
            </select>
        </div>
        <div class="elem-group">
            <label for="title">Reason For Contacting Us</label>
            <input type="text" id="title" name="email_title" required placeholder="Unable to Reset my Password"
                pattern=[A-Za-z0-9\s]{8,60}>
        </div>
        <div class="elem-group">
            <label for="message">Write your message</label>
            <textarea id="message" name="visitor_message" placeholder="Say whatever you want." required></textarea>
        </div>
        <button type="submit">Send Message</button>
    </form>
    <footer class="footer-box">
        <div>
            <h5 class="footer-title">Pages</h5>
            <ul>
                <li class="footer-link-text"><a href="#" class="footer-link-text">Home</a></li>
                <li class="footer-link-text"><a href="#" class="footer-link-text">Coffee Shop</li>
                <li class="footer-link-text"><a href="#" class="footer-link-text">Bakery Takeaway</a></li>
                <li class="footer-link-text"><a href="#" class="footer-link-text">Bakery Lessons</a></li>
                <li class="footer-link-text"><a href="#" class="footer-link-text">Contact Us</a></li>
            </ul>
        </div>

        <div>
            <h5 class="footer-title">Contact Info</h5>
            <ul>
                <li class="footer-link-text"><a href="#" class="footer-link-text">Home</a></li>
                <li class="footer-link-text"><a href="#" class="footer-link-text">Features</a></li>
                <li class="footer-link-text"><a href="#" class="footer-link-text">Pricing</a></li>
                <li class="footer-link-text"><a href="#" class="footer-link-text">FAQs</a></li>
                <li class="footer-link-text"><a href="#" class="footer-link-text">About</a></li>
            </ul>
        </div>
</body>

</html>