<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/styles.css">
        <link rel="scripts" href="/assets/scripts.js">
        <title>Bean & Brew</title>
    </head>
    <body>
        <header>
            <div class="container">
              <a href="http://127.0.0.1:5500/templates/"> <img alt="Qries" src="/assets/images/beanandbrewlogo.png" width="51" height="51"> </a>
              <nav>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Coffee Shop</a></li>
                  <li><a href="#">Bakery Takeaway</a></li>
                  <li><a href="#">Bakery Lessons</a></li>
                  <li><a href="#">Contacts</a></li>
                </ul>
                </nav>
            </div>
        </header>
        <div class = "standard-box" style = "height: 300px;">
            <div >
              <img class = "standard-box" alt = "picture of person counting coffee beans on a wooden table" src = "/assets\images/Coffee Beans.png" width = "550" height = "300" style = "margin-left: 30px;">
            </div>
            <div>
                <h2>
                    About Our Coffee
                </h2>
                <p>
                    All of our coffee is blended with precision and accuracy to ensure you get the
                    perfect taste with every sip. We use the finest ethically sourced coffee beans
                    as well as professional equipment to ensure you get your coffee just the way
                    you like it.
                </p>
            </div>
          </div>
        <footer class="footer-box">
            <div>
                <h5 class = "footer-title">Pages</h5>
                <ul>
                    <li class="footer-link-text"><a href="#" class="footer-link-text">Home</a></li>
                    <li class="footer-link-text"><a href="#" class="footer-link-text">Features</a></li>
                    <li class="footer-link-text"><a href="#" class="footer-link-text">Pricing</a></li>
                    <li class="footer-link-text"><a href="#" class="footer-link-text">FAQs</a></li>
                    <li class="footer-link-text"><a href="#" class="footer-link-text">About</a></li>
                </ul>
            </div>

            <div>
                <h5 class = "footer-title">Contact Info</h5>
                <ul>
                    <li class="footer-link-text"><a href="#" class="footer-link-text">Home</a></li>
                    <li class="footer-link-text"><a href="#" class="footer-link-text">Features</a></li>
                    <li class="footer-link-text"><a href="#" class="footer-link-text">Pricing</a></li>
                    <li class="footer-link-text"><a href="#" class="footer-link-text">FAQs</a></li>
                    <li class="footer-link-text"><a href="#" class="footer-link-text">About</a></li>
                </ul>
                </div>
            </header>
            <div>
                <img src="/assets/images/279618.jpg"alt="image of a macbook and coffee" class="backround-image">   
            </div>
            <footer class="footer-box">
                <div>
                    <h5 class = "footer-title">Pages</h5>
                    <ul>
                        <li class="footer-link-text"><a href="#" class="footer-link-text">Home</a></li>
                        <li class="footer-link-text"><a href="#" class="footer-link-text">Features</a></li>
                        <li class="footer-link-text"><a href="#" class="footer-link-text">Pricing</a></li>
                        <li class="footer-link-text"><a href="#" class="footer-link-text">FAQs</a></li>
                        <li class="footer-link-text"><a href="#" class="footer-link-text">About</a></li>
                    </ul>
                </div>
            
                <div>
                    <h5 class = "footer-title">Contact Info</h5>
                    <ul>
                        <li class="footer-link-text"><a href="#" class="footer-link-text">Home</a></li>
                        <li class="footer-link-text"><a href="#" class="footer-link-text">Features</a></li>
                        <li class="footer-link-text"><a href="#" class="footer-link-text">Pricing</a></li>
                        <li class="footer-link-text"><a href="#" class="footer-link-text">FAQs</a></li>
                        <li class="footer-link-text"><a href="#" class="footer-link-text">About</a></li>
                    </ul>
                    </div>
            </footer>
        </div>
    </body>
</html>